:root {
    --van-padding-home: 10px;
    --van-dropdown-menu-height: 28px !important;
}

.container {
    width: 100%;
    height: 100%;
}
.index-bg {
    background: url('@/assets/images/icon-bg-1.png') no-repeat;
    background-size: 100% 100%;
}
.game-bg {
    background: url('@/assets/images/icon-bg-1.png') no-repeat;
    background-size: 100% 100%;
}
